# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js
src/backend/node_modules/
src/frontend/node_modules/
.pnp/
.pnp.js
# Production
build/

# Environment
.env

# IDE files
.vscode/
.idea/
